@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-white bg-black;
}

* {
	@apply select-none;
}

.each-card {
	@apply mx-3 w-full max-[1024px]:mx-auto max-w-[24rem] py-10 px-6 bg-white text-black;
}

.plan-mode-title {
	@apply flex justify-between;
}

.plan-mode-sales {
	@apply mt-6 flex justify-between;
}

.plan-mode-description {
	@apply mt-8;
}

.feature-have {
	@apply px-6 py-10 -mx-6 mt-10;
}

.CTA-image {
	@apply max-md:order-1;
}

.content {
	@apply max-md:order-2;
}

h1 {
	@apply font-[900] text-[1.5rem] tracking-[0.025em];
}

h2 {
	@apply leading-[1.25] text-[2.25rem] sm:text-[3rem] tracking-[0.025em] font-[900];
}

h2:not(.CTA),
p:not(.CTA) {
	@apply max-lg:text-center;
}

p {
	@apply text-[0.875rem] sm:text-[1rem] sm:leading-[1.625] tracking-[0.025em];
}

a:not(.primary) {
	@apply px-5 py-2 bg-purple-600 text-white;
}

a:is(.primary) {
	@apply hover:underline;
}

a:is(.mobile-primary) {
	@apply bg-transparent text-black w-full flex justify-center;
}

.navbar {
	li {
		@apply !bg-transparent;
	}
}
